NET "clock" LOC = B8;
NET "reset" LOC = A7;
NET "z_out" LOC = M5;
NET "n_out" LOC = M11;
NET "clock_mode_sw" LOC = P11;
NET "show_pc_btn" LOC = G12;
NET "show_ri_btn" LOC = C11;
NET "clock_btn" LOC = M4;
NET "anode[0]" LOC = K14;
NET "anode[1]" LOC = F12;
NET "anode[2]" LOC = J12;
NET "anode[3]" LOC = M13;
NET "display_out[6]" LOC = L14;
NET "display_out[5]" LOC = H12;
NET "display_out[4]" LOC = N14;
NET "display_out[3]" LOC = N11;
NET "display_out[2]" LOC = P12;
NET "display_out[1]" LOC = L13;
NET "display_out[0]" LOC = M12;